<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
   <context-param>
        <param-name>FILE_UPLOAD_PATH</param-name>
        <param-value>/tmp/TOMCATTMP/UsersFiles</param-value>
    </context-param>

<servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>coursework.koshelokhov.control.Login</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>coursework.koshelokhov.control.Download</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>PublicZip</servlet-name>
    <servlet-class>coursework.koshelokhov.control.PublicZip</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>PublicZip</servlet-name>
    <url-pattern>/publiczip</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DownloadPublic</servlet-name>
    <servlet-class>coursework.koshelokhov.control.DownloadPublic</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DownloadPublic</servlet-name>
    <url-pattern>/downloadpublic</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Listing</servlet-name>
    <servlet-class>coursework.koshelokhov.control.Listing</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Listing</servlet-name>
    <url-pattern>/listing</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ListPublic</servlet-name>
    <servlet-class>coursework.koshelokhov.control.ListPublic</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ListPublic</servlet-name>
    <url-pattern>/listpublic</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ListShared</servlet-name>
    <servlet-class>coursework.koshelokhov.control.ListShared</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ListShared</servlet-name>
    <url-pattern>/listshared</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ZipDir</servlet-name>
    <servlet-class>coursework.koshelokhov.control.ZipDir</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ZipDir</servlet-name>
    <url-pattern>/zipdir</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Share</servlet-name>
    <servlet-class>coursework.koshelokhov.control.Share</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Share</servlet-name>
    <url-pattern>/share</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ShareToAll</servlet-name>
    <servlet-class>coursework.koshelokhov.control.ShareToAll</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ShareToAll</servlet-name>
    <url-pattern>/sharetoall</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>coursework.koshelokhov.control.Logout</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>coursework.koshelokhov.control.Register</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>coursework.koshelokhov.control.Delete</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Create</servlet-name>
    <servlet-class>coursework.koshelokhov.control.Create</servlet-class>
    <multipart-config>
       <max-file-size>10485760</max-file-size>
       <max-request-size>104857600</max-request-size>
       <file-size-threshold>1048576</file-size-threshold>
   </multipart-config>
</servlet>
<servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/create</url-pattern>
</servlet-mapping>

<filter>
    <filter-name>AuthentificationFilter</filter-name>
    <filter-class>coursework.koshelokhov.control.AuthFilter</filter-class>
</filter>
 <filter-mapping>
    <filter-name>AuthentificationFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>
